[Desktop Entry]
Type=Application
Name=Chaotic Rage
Comment=An unusual zombie shooter game
Icon=chaoticrage
Exec=chaoticrage
Categories=Game;ActionGame;Shooter;
Keywords=zombie;tank;explosion;first-person;
