[Desktop Entry]
Type=Application
Version=1.9
Name=Chaotic Rage
Comment=An unusual zombie shooter game
Icon=chaoticrage
Exec=chaoticrage
Categories=Games;
