Source: chaoticrage
Section: games
Priority: optional
Maintainer: Josh Heidenreich <josh.sickmate@gmail.com>
Build-Depends: debhelper (>= 9.0.0),
    libsdl2-dev,
    libbullet-dev,
    libassimp-dev,
    libfreetype6-dev,
    libgl1-mesa-dev,
    libglu1-mesa-dev,
    libglew-dev,
    libsdl2-mixer-dev,
    libsdl2-image-dev,
    libsdl2-net-dev,
    libfontconfig-dev
Standards-Version: 3.9.8
Homepage: http://www.chaoticrage.com
Vcs-Git: git://github.com:TheJosh/chaotic-rage.git
Vcs-Browser: https://github.com/TheJosh/chaotic-rage

Package: chaoticrage
Architecture: any
Depends: chaoticrage-data (= ${source:Version}),
	fonts-dejavu-core,
    ${shlibs:Depends},
    ${misc:Depends}
Description: Unusual 3D shooter game
 Unusual 3D shooter game with zombies, tanks, boats, and utes.
 Can be played in top-view, 3rd person or 1st person view.
 Has particle effects, decent physics, weather effects, and day-night effects.
 Multiple maps and gametypes.
 Fully moddable.
 .
 This is the main game code
 
Package: chaoticrage-data
Architecture: all
Depends: ${misc:Depends}
Description: Unusual 3D shooter game - data files
 Unusual 3D shooter game with zombies, tanks, boats, and utes.
 Can be played in top-view, 3rd person or 1st person view.
 Has particle effects, decent physics, weather effects, and day-night effects.
 Multiple maps and gametypes.
 Fully moddable.
 .
 This is the data files and maps
