Source: chaoticrage
Section: games
Priority: optional
Maintainer: Magnus Espersson <magnusespersson@gmail.com>
Build-Depends:
 debhelper (>= 9.0.0),
 libsdl2-dev,
 libbullet-dev,
 libassimp-dev,
 libfreetype6-dev,
 libgl1-mesa-dev,
 libglu1-mesa-dev,
 libglew-dev,
 libsdl2-mixer-dev,
 libsdl2-image-dev,
 libsdl2-net-dev
Standards-Version: 3.9.6
Homepage: http://www.chaoticrage.com
Vcs-Git: git://github.com:TheJosh/chaotic-rage.git
Vcs-Browser: https://github.com/TheJosh/chaotic-rage

Package: chaoticrage
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Unusual zombie shooter game
 Chaotic Rage is a crazy top-view shooter.
 You can destroy everything with the many weapons, turrets and vehicles.
 Choose from multiple characters with unique skills and abilities.
